<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <div class="profile-pic">
    <img src="{{avatar}}" alt="pic">
  </div>
  <div class="profile-info">
    <h2>{{name}}</h2>
    {{#address}}
      {{#state_or_province}}
      <p>{{state_or_province}}, {{country}}</p>
      {{/state_or_province}}
      {{^state_or_province}}
      <p>{{country}}</p>
      {{/state_or_province}}
      {{/address}}
      {{#job}}
      <p>{{job}}, {{company}}</p>
      {{/job}}
      {{^job}}
        <p>Available for hire</p>
      {{/job}}
      <p>{{email}}</p>
      <p>{{phone}}</p>
    </div>
    <div class="other-info">
      {{#university}}
      <div class="education">
        <h4>Education</h4>
        <p>{{university}}</p>
      </div>
      {{/university}}
      <div class="skills">
        <h4>Skills</h4>
        {{#skills}}
        <p>{{.}}</p>
        {{/skills}}
      </div>
    </div>
  </body>
</html>
